@import 'tailwindcss';
@theme {
  --color-main-700: #0d1117;
  --color-column-700: #161c22;
}

html,
body,
#root {
  @apply bg-black text-white box-border;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-rose-900 rounded-xl;
}

.task > ::-webkit-scrollbar-thumb {
  @apply bg-sky-500 rounded-xl;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
